<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.isnowstudio.filemanager">
    <application android:debuggable="false" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity android:alwaysRetainTaskState="true" android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.isnowstudio.filemanager.v15.FileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.isnowstudio.filemanager.viewer.HTMLViewerActivity" android:theme="@android:style/Theme.Light">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="text/vnd.isnow.html"/>
                <data android:mimeType="text/vnd.isnow.plain"/>
                <data android:mimeType="application/vnd.isnow.xml"/>
                <data android:mimeType="application/vnd.isnow.xhtml"/>
                <data android:mimeType="text/vnd.isnow.viewer"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.isnowstudio.filemanager.htmlfileprovider" android:exported="false" android:grantUriPermissions="true" android:multiprocess="false" android:name="com.isnowstudio.filemanager.viewer.FileContentProvider" android:syncable="false"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.ads.AdActivity"/>
        <meta-data android:name="UMENG_APPKEY" android:value="5169571956240ba8200348bc"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="Google"/>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
</manifest>